@import url('./reset.css');
@font-face {
    font-family: 'Mooli';
    src: url('./fonts/Mooli-Regular.ttf') format("truetype");
}

/*
at-rules (@)

@import - імпортує css в css (вказується зверху, на початку css-файла)

@font-face - завантажує шрифти з віддаленого сервера (або локально з сервера, на якому ми працюємо)

@media


*/


h1 {
    color: blue;
    font-size: 2em;

    margin: 1em 0;
    font-family: 'Mooli';
}