p {
    color: blue;
}

.red {
    color: red;
}

.violet {
    color: violet;
}


#green {
    color: green;
}


/*

tag - 0001
.class - 0010
#id - 0100

inline - 1000


!important - це спосіб перезатерти стилі

*/