
.container {
    width: 100%;
    height: 1000px;
    background-image: url('./assets/pexels-johannes-plenio-1423600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*
background

Повторення картинки на фоні
background-repeat: no-repeat;
//background-repeat-x: repeat;
//background-repeat-y: repeat;



*/

.box {
    width: 200px;
    height: 200px;
    background-color: rgba(30, 143, 255, 0.291);
}